root:{
  --bg-color: rgb(61,66,70);
}

html{
  margin:0;
  padding:0;
  font-family:sans-serif;
  background-color:var(--bg-color);
}
p{
  margin:0;
}

/* ------------- css for class ------------- */

/* ------------- css for id ------------- */
/* ---- self-intro area ---- */
#author-img{
  width:30%;
  display:block;
  object-fit: cover;
  border-radius:50%;
}
